[flake8]
ignore = D100,D101,D102,D203,E203,E266,W503,W504,I201,I100
exclude =
    .git,
    __pycache__,
    .cache,
    .pytest_cache,
    .eggs,
    build,
    dist,
    .venv,
    .remote_sources,
    stickybeak/_priv/pip
max-line-length = 120
application_import_names = stickybeak
