[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
flake8 = "*"
ipython = "*"
twine = "*"
django = "*"
rstcheck = "*"
djangorestframework = "*"
mypy = "*"
pytest-mypy = "*"
django-stubs = "*"
djangorestframework-stubs = "*"

[packages]

[requires]
python_version = "3.7"
