[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
flake8 = "*"
ipython = "*"
twine = "*"
django = "*"
rstcheck = "*"
djangorestframework = "*"
mypy = "*"
pytest-mypy = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
pbr = "*"
django-health-check = "*"
pipenv-to-requirements = "*"
flake8-import-order = "*"
isort = "*"
flask = "*"
black = "*"
furl = "*"
pytest-env = "*"

[packages]
djangorestframework = "*"
django = "*"
flask = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
