name: "test"

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: {{ ctx.python_versions }}
    steps:
      {{- bootstrap_code | indent(6, True) }}
      - name: Bootstrap repo
        run: envo ci run p.bootstrap
      - name: test
        run: envo ci run p.test

  publish:
  {%- raw %}
    env:
      PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  {%- endraw %}
    runs-on: ubuntu-latest
    needs: [test]
    if: github.ref == 'refs/heads/master'
    steps:
      {{- bootstrap_code | indent(6, True) }}
      - name: Bootstrap repo
        run: envo ci run "p.bootstrap(test_apps=False)"
      - name: Generate version
        run: envo ci run p.generate_version
      - name: Build
        run: envo ci run p.build
      - name: Publish
        run: envo ci run p.publish
