name: "test"

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
    types: [closed]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: {{ python_versions }}
    steps:
      {{- bootstrap_code | indent(6, True) }}
      - name: Bootstrap repo
        run: envo ci run p.bootstrap
      - name: test
        run: envo ci run p.test

  check-black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - uses: gerbal/always-cache@v1.0.3
        id: check-black-pip-cache
        with:
          path: ~/.cache/pip
          key: check-black-pip-cache-{{ black_ver }}
          restore-keys: check-black-pip-cache-
      - run: pip install black=={{ black_ver }}
      - run: black --check .

  publish:
  {%- raw %}
    env:
      PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  {%- endraw %}
    runs-on: ubuntu-latest
    needs: [test, check-black]
    if: github.event.pull_request.merged == true
    steps:
      {{- bootstrap_code | indent(6, True) }}
      - name: Bootstrap repo
        run: envo ci run "p.bootstrap(test_apps=False)"
      - name: Generate version
        run: envo ci run p.generate_version
      - name: Build
        run: envo ci run p.build
      - name: Publish
        run: envo ci run p.publish
